.productWrap {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.product {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  border: 1px solid #c4c4c4;
}

.productImageWrapper {
}

.productName {
  padding: 15px;
}

.productPage {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 16px;
}

.productShot {
  border-radius: 4px;
}

.productBody {
  border-radius: 4px;
  background: white;
  padding: 16px;
}

.productBody h1 {
  font-size: 36px;
}
